<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/submit-product">
        <label for="">Title:</label>
        <input type="text" placeholder="Enter Title"><br><br>
        <label for="">Price:</label>
        <input type="text" placeholder="Enter Price"><br><br>
        <label for="">Description:</label>
        <input type="text" placeholder="Enter Description"><br><br>
        <button type="submit">Add Product</button>
    </form>
</body>

</html>